root = true

[*]
end_of_line = lf

[*.{hpp,h,c,cpp,hxx}]
indent_style = space
indent_size = 4
insert_final_newline = true
 
cpp_indent_braces = false
cpp_indent_multi_line_relative_to = innermost_parenthesis
cpp_space_before_function_open_parenthesis = false
cpp_space_within_parameter_list_parentheses = false
cpp_space_around_binary_operator = single